@import url(fonts/stylesheet.css);
body {
    font-family: 'DIN Pro';
    margin: 0;
    padding: 0;
}

input, button {
    font-family: 'DIN Pro';
}

.btn_reset {
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.active {
    display: flex !important;
}

.rt-45 {
    rotate: -45deg;
}

.rt45 {
    rotate: 45deg;
}

.opacity-0 {
	opacity: 0;
}

.translateY {
    transform: translateY(14px);
}

.translate-Y {
    transform: translateY(-14px);
}


.overflow-hidden {
    overflow: hidden;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Header */
.top_header {
    display: grid;
    grid-template-columns: 239px 169px 200px 148px 84px;
    justify-content: space-around;
    align-items: center;
    gap: 0 3%;
    padding: 20px 0;

    box-sizing: border-box;
}

.btn_request {
    white-space: nowrap;
    font-size: 16px;
    padding: 8px 24px;
    color: #030978;
    font-weight: 500;
    line-height: 1.5;
    background: linear-gradient(360deg, #F1F4FF 0%, #DCE2F5 0%, #F5F8FF 100%);
    border-radius: 4px;
    cursor: pointer;
}

.btn_request:hover {
    background: linear-gradient(360deg, #B2C3FE 0%, #E0E7FF 100%);
    color: #030978;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact_link {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact_link a {
    text-decoration: none;
    color: #151515;
    font-size: 18px;
    font-weight: 500;
}

.contact_link a:hover {
    background: linear-gradient(180deg, #4368F5 0%, #1931DA 43.23%, #0912B9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.link_profile {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: #151515;
    line-height: 1.5;
    transition: all;
    transition-duration: 300ms;
}

.link_profile::before {
    content: url('img/profile.png');
}

.link_profile:hover {
    background: linear-gradient(180deg, #4368F5 0%, #1931DA 43.23%, #0912B9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.link_social {
    display: flex;
    gap: 8px;
}

.nav_header {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #4368F5 0%, #1931DA 43.23%, #0912B9 100%);
}

.nav_list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

.nav_list li a {
    padding: 20px 0;
}


.nav_list li:nth-child(2), .nav_list li:nth-child(3) {
    position: relative;
}

.nav_list li a, .nav_list li .openLink {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding-left: 10px;
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
    justify-content: space-between;
}

.nav_list li a:hover, .nav_list li > .openLink:hover {
    color: #a6b7f8;
}

.nav_list li svg {
    stroke: #fff;
    transition: all;
    transition-duration: 300ms;
    margin-right: 10px;
}

.nav_list li .openLink:hover > svg {
    stroke: #a6b7f8;
    transform: rotate(180deg);
}

.nav_list-inner {
    position: absolute;
    z-index: 5;
    list-style: none;
    top: 48px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 4px;
    padding: 16px 16px;
    box-shadow: 0px 2px 4px rgba(151, 154, 192, 0.15), 0px 4px 32px rgba(151, 154, 192, 0.3);
}

.nav_list-inner li {
    padding: 0;
}

.nav_list-inner li a {
    color: black;
    padding: 8px;
    border-radius: 4px;
    transition: none;
}

.nav_list-inner li a:hover {
    color: #fff;
    background-color: #01099C;
}

.nav_list li:hover > .nav_list-inner {
    display: grid !important;
}

.nav_services li {
    white-space: nowrap;
}

.nav_services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 24px;
}

.btn_menu {
    display: none;
    margin-right: 10px;
}

.btn_menu span {
    width: 100%;
    border-radius: 2px;
    height: 4px;
    background: linear-gradient(180deg, #4368F5 0%, #1931DA 43.23%, #0912B9 100%);
    transition: all;
    transition-duration: 300ms;
}

.menu_header {
    display: none;
}
/*  */
.inner_link {
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 100vh;
}

.top_link {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    border-bottom: 1px solid #CED0E7;
}

.top_link > img:first-child {
    position: absolute;
    left: 0;    
    top: 50%;
    transform: translateY(-50%);
}

.title_link {
    color: #39444F;
    font-size: 24px;
    margin: 32px 0 20px 10px;
}

.link_list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #4368F5 0%, #1931DA 43.23%, #0912B9 100%);
}

.link_list li {
    border-bottom: 1px solid #CED0E7; 
}

.link_list li a {
    padding-left: 10px;
    text-decoration: none;
    color: #fff;
    padding: 12px 0;
}

/* Calculation */
.calculation_block {
    margin-top: 88px;
}


.calculation_title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    color: #01099C;
    margin-bottom: 56px;
}

.calculation_desc {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #282C30;
    width: 66%;
    margin: 0 auto;
}

.calculation_main {
    display: flex;
    gap: 40px;
    padding: 0 40px 40px 40px;
    margin-top: 146px;
    border-radius: 16px;
    background: linear-gradient(180deg, #6385FF 0%, #3962F0 100%);
}

.calculation_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 50%;
    border-radius: 16px;
    border: 1px solid #0912B9;
    padding: 0 16px 24px 16px;
}

.calculation_item:nth-child(1), .calculation_item:nth-child(2) {
    margin-top: -56px;
}

.item_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 80px;
    background: linear-gradient(180deg, #99B0FF 0%, #6688FF 43.75%, #4368F5 100%);
}

.item_title {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    color: #282C30;
    margin-top: 8px;
    flex-grow: 1;
}

.item_btn {
    font-size: 16px;
    line-height: 1.5;
    color: #030978;
    font-weight: 500;
    padding: 16px 56px;
    border-radius: 4px;
    background: linear-gradient(360deg, #F1F4FF 0%, #DCE2F5 0%, #F5F8FF 100%);
    margin-top: 20px;
    cursor: pointer;
}

.item_btn:hover {
    background: linear-gradient(0deg, #B2C3FE 0%, #E0E7FF 100%);
    color: #030978;
}


/* Slider */
.swiper-pagination {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-top: 16px;
    bottom: auto;
}

.swiper-pagination-bullet {
    background: #CED0E7;
    opacity: 1;
}

.swiper-pagination-bullet-active  {
    background: #1931DA;
    outline: 1px solid #01099C;
    outline-offset: 2px;
}

.slide {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
}

.slide_second > .slide_block, .slide_third > .slide_block {
    display: none;
}

.slide_block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc((100% - 1200px)/2);
}

.slider_title {
    color: #01099C;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
}

.slider_desc {
    color: #01099C;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 12px;
    width: 35%;
}

.btn_slider {
    height: 56px;
    padding: 0 24px;
    margin: 0;
    margin-top: 40px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(180deg, #4368F5 0%, #1931DA 43.23%, #0912B9 100%);
    border-radius: 4px;
    width: fit-content;
    cursor: pointer;
}

.btn_slider:hover {
    background: linear-gradient(180deg, #6688FF 0%, #4368F5 34.9%, #1931DA 100%);
}
.btn_slider:active {
   background: linear-gradient(180deg, #99B0FF 0%, #6688FF 43.75%, #4368F5 100%);
}

.slide_main {
    background-position: 55% 0%;
    background-image: url('img/slider/slide1.jpg');
}

.slide_second {
    background-position: 40% 50%;
    background-image: url('img/slider/slide2.jpg');
}

.slide_third {
    background-position: 60% 50%;
    background-image: url('img/slider/slide3.jpg');
}

@media (max-width: 1240px) {
    .container {
        width: 100%;
    }

    /* Header */
    .top_header {
        grid-template-columns: 239px 169px 200px 148px 84px;
        gap: 0 1%;
        padding: 20px 20px;
    }

    .nav_header {
        width: 100%;
    }


    /* Calculation */
    .calculation_block {
        margin-top: 80px;
    }
    
    .calculation_main {
        display: flex;
        gap: 90px;
        padding-bottom: 40px;
        border-radius: 0;
    }


    /* Slider */
    .slide {
        height: 360px;
    }

    .slide_block {
        padding-left: 40px;
    }

    .slider_desc {
        width: 100%;
        margin-top: 0;
    }

    .slider_desc span {
        display: block;
    }
    
    .btn_slider {
        margin-top: 20px;
    }

    .slide_main {
        background-position: 50% 0%;
        background-image: url('img/slider/slider900-12401.png');
    }

    .slide_second {
        background-position: 40% 50%;
        background-image: url('img/slider/slider900-12402.png');
    }
    
    .slide_third {
        background-position: 60% 50%;
        background-image: url('img/slider/slider900-12403.png');
    }
}

@media (max-width: 900px) {
    /* Header */
    .top_header {
        display: flex;
        justify-content: start;
        border: 1px solid #CED0E7;
        padding: 12px 10px;
    }

    .contacts {
        padding-left: 45px;
    }

    .btn_menu {
        margin-left: auto;
    }

    .menu_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: #fff;
        padding: 20px 0;
    }

    .btn_request-mob {
        padding: 8px 24px;
        color: #030978;
        font-weight: 700;
        line-height: 1.5;
        font-size: 16px;
        background: linear-gradient(360deg, #F1F4FF 0%, #DCE2F5 0%, #F5F8FF 100%);
        border-radius: 4px;
        cursor: pointer;
    }

    .link_profile-mob {
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: #151515;
        line-height: 1.5;
    }
    
    .link_profile-mob::before {
        content: url('img/profile.png');
    }

    .link_social-mob {
        display: flex;
        gap: 8px;
    }

    .nav_header {
        display: flex;
        flex-direction: column;
        top: 78px;
    }

    .nav_header, .btn_request, .link_social, .link_profile {
        display: none;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    .nav_list li {
        width: 100%;
    }

    .nav_list li:not(:last-child) {
        border-bottom: 1px solid #99B0FF;
    }

    .nav_list li a, .nav_list li > div {
        justify-content: space-between;
        padding: 12px 10px;
    }

    .btn_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 26px;
        height: 24px;
        cursor: pointer;
    }

    .nav_list-inner {
        position: static;
        list-style: none;
        top: 48px;
        margin: 0;
        padding: 0;
        background-color: #fff;
        border-radius: 0;
        padding-left: 20px;
        background: linear-gradient(180deg, #4368F5 0%, #1931DA 43.23%, #0912B9 100%);
    }

    .nav_services {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0 24px;
    }

    .nav_list-inner li a {
        color: #fff;
    }


    /* Calculation */
    .calculation_desc {
        width: 90%;
    }

    .calculation_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        padding-bottom: 40px;
        border-radius: 0;
    }

    .calculation_item {
        width: 560px;
        box-sizing: border-box;
    }

    .calculation_item:nth-child(2) {
        margin-top: 0;
    }


    /* Slider */
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        margin-top: 12px;
    }
    .slide {
        height: 262px;
    }

    .slide_block {
        padding-left: 20px;
    }

    .slider_title {
        font-size: 48px;
        line-height: 1.1;
    }
    
    .slider_desc {
        font-size: 18px;
        line-height: 1.3;
        margin-top: 0;
        width: 50%;
    }

    .btn_slider {
        margin-top: 20px;
    }

    .slide_main {
        background-position: 60% 0%;
        background-image: url('img/slider/slide900-1.png');
    }
    
    .slide_second {
        background-image: url('img/slider/slide900-2.png');
    }
    
    .slide_third {
        background-image: url('img/slider/slide900-3.png');
    }
}

@media (max-width: 640px) {
    /* Header */
    .link_main {
        width: 190px;
    }

    .link_main img {
        width: 190px;
    }


    /* Calculation */
    .calculation_main {
        padding: 0 40px 40px 40px;
    }

    .calculation_item {
        max-width: 560px;
        width: 100%;
    }

    
    /* Slider */
    .slide {
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-size: cover;
        width: 100%;
        height: 372px;
    }

    .slide_second > .slide_block, .slide_third > .slide_block {
        display: flex;
    }
    
    .slide_block {
        padding-top: 30px;
        padding-left: 0;
        align-items: center;
        justify-content: start;
    }

    .slider_title {
        font-size: 32px;
        line-height: 1.2;
    }
    
    .slider_desc {
        font-size: 16px;
        line-height: 1.5;
        width: 100%;
        text-align: center;
    }

    .btn_slider {
        margin-top: 12px;
    }

    .slide_main {
        background-image: url('img/slider/slide640-1.jpg');
    }
    
    .slide_second {
        background-image: url('img/slider/slide640-2.jpg');
    }
    
    .slide_third {
        background-image: url('img/slider/slide640-3.jpg');
    }
}

@media (max-width: 480px) {
    /* Header */
    .top_header {
        display: grid;
        grid-template-columns: 1fr 40px;
        gap: 0 1%;
        border: none;
        padding: 12px 10px;
    }

    .contacts {
        justify-content: center;
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        margin-top: 20px;
        padding-left: 0;
    }

    .contacts::before {
        content: '';
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #CED0E7;
        top: 59px;
    }

    .nav_header {
        top: 60px;
    }

    /* Calculation  */
    .calculation_block {
        margin-top: 60px;
    }

    .calculation_main {
        padding: 0 10px 64px 10px;
    }
    
    .calculation_item {
        width: 100%;
        padding: 0 8px 24px 8px;
    }

    .calculation_title {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .calculation_desc {
        width: 95%;
    }


    /* Slider */
    .slide_block {
        padding-top: 20px;
    }
    .slide {
        height: 300px;
    }

    .slider_desc {
        width: 100%;
    }
}
